body {
    margin: 0;
    background-color: #969696;
}

.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #001932;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.sidebarlinks a {
    display: block;
    color: #969696;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
}

.sidebarlinks a:hover {
    color: white;
}

a.active {
    background-color: #969696;
    color: #001932;
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: #0019af;
}

.links:hover {
    color: #001932;
}

hr {
    height: 2px;
    background-color: white;
    border-color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.article {
    border-radius: 10px;
    border-color: #001932;
    width: 80%;
}

.articletitle {
    color: white;
}